In [5]:
print('Hello World!','Tudo bem?')

Hello World! Tudo bem?

In [6]:
#variaveis
variavel = 'hello word'

In [7]:
print(variavel)

hello word

In [ ]:
texto = input('digite um texto')
texto

In [3]:
type(True)

bool

Operadores

In [7]:
resultado = 1+2
resultado

6

In [8]:
2*3

6

In [11]:
#5/2 #divisao
#5//2 #Inteiros
5%2 # resto

1

In [12]:
# Potenciaçao e radiciação
2**4

16

In [13]:
print(5<10)

True

In [15]:
#comparaçåo ou diferente
5==2
5!=5

False

# manipualaçåo de String

In [19]:
nome = input('Digite seu nome:')
idade = input('Digite sua idade:')
print('seu nome é',nome, 'e tem',idade,'anos')

seu nome é Gui e tem 27 anos

In [20]:
#f
f'seu nome é {nome} e tem {idade} anos'

'seu nome é Gui e tem 27 anos'

In [21]:
#%s, %i, %%f
'seu nome é %s e tem %s anos' %(nome,idade)

'seu nome é Gui e tem 27 anos'

In [22]:
#format
'seu nome é {} e tem {} anos'.format(nome,idade)
'seu nome é {1} e tem {0} anos'.format(nome,idade)

'seu nome é Gui e tem 27 anos'

In [25]:
#split
texto = 'seu nome é 34 e tem gabriel anos'
texto.split('34')

['seu nome é ', ' e tem gabriel anos']

In [26]:
#upper
texto.upper()

'SEU NOME É 34 E TEM GABRIEL ANOS'

In [27]:
#find
texto.find('gabriel')

20

In [28]:
LISTA = ["gabriel",34,79.5,True]

In [29]:
tuplas = ("gabriel",34,79.5,True)

In [30]:
dicionario = {'nome':'Gabriel','idade':34,'peso': 79.5}

In [31]:
dicionario['peso'] = 80.5

In [32]:
dicionario

{'nome': 'Gabriel', 'idade': 34, 'peso': 80.5}

In [33]:
dicionario['peso']

80.5